page-splash {

  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #bf4657;
  }
  
  .flb {
    background: -webkit-linear-gradient(top, #bf4657 0%,#8c2f88 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bf4657 0%,#8c2f88 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //background:#bf4657;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aligner-item {
    max-width: 50%;
  }
  .aligner-item--top {
    align-self: flex-start;
  }
  .aligner-item--bottom {
    align-self: flex-end;
  }
  lottie-animation-view {
    //border:2px solid red;
  }
}